<%- include('../partials/header') %>

<section id="show-page">
  <div>Title: </div>
  <div><%= budget.title %></div>
  <div>Amount: </div>
  <div>$<%= budget.amount %></div>
  <div>Category: </div>
  <div><%= budget.category %></div>
  <div>Date: </div>
  <div><%= budget.date.toLocaleDateString() %></div>
</section>

<form id="edit-budget-form" action="/budgets/<%= budget._id %>/edit" method="GET">
  <button type="submit">Edit</button>
</form>

<form id="delete-budget-form" action="/budgets/<%= budget._id %>/delete" method="POST">
  <button type="submit">Delete</button>
</form>

<%- include('../partials/footer') %>
